* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--lightGray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

main {
    width: 20rem;
    padding: 1.125rem;
    border-radius: 1.25rem;
    background-color: white;
    box-shadow: 0rem 0.188rem 1.563rem;
}

main img {
    max-width: 100%;
    border-radius: 0.625rem;
}

h1 {
    text-align: center;
    margin: 1.25rem 0;
    padding-left: 0.625rem; 
    font-size: 1.4rem;
    color: var(--darkBlue);
}

p {
    text-align: center;
    margin-bottom: 1.25rem;
    color: var(--grayishBlue);
    padding-left: 0.625rem;
}

